:root {
    --azul-escuto: rgb(0, 29, 71);
    --azul-claro: rgb(0, 58, 145);
    --azul-claro2: rgb(0, 65, 161);
    --verde: rgb(0, 216, 0);
    --branco: #fff;
    --vermelho: red;
}

body {
    background-color: var(--azul-escuto);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--branco);
    border-radius: 1rem;
    padding: 1rem;
}


.content h1 {
    margin: auto;
    padding-bottom: 10px;
}

.content-add-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#input-new-task, #btn-new-task {
    border: none;
    padding: 10px;
    font-size: 1.4rem;
    outline: none;
}

#input-new-task {
    width: 20rem;
}

#btn-new-task{
    background-color: var(--azul-claro);
    color: var(--branco);
    cursor: pointer;
}

#btn-new-task:hover {
    background-color: var(--azul-claro2);
}

#btn-new-task:active {
    opacity: 0.8;
}

#to-do-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#to-do-list li{
    list-style: none;
    font-size: 1.4rem;
    text-transform: capitalize; /* letra maiuscula em cada palavra */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--branco);
    padding: 1rem;
    border-radius: 1rem;
}

#to-do-list li p{
    user-select: none;
    cursor: text;
    margin: 0;
    max-width: 20rem;
}

#btn-ok {
    background-color: var(--verde);
    border: 1px solid var(--branco);
    border-radius: 50%;
    color: var(--branco);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#btn-ok:active {
    opacity: 0.9;
}

#to-do-list li input, .btn-edit-done, .btn-edit-cancel {
    border: none;
    font-size: 1.4rem;
    height: 2rem;
    padding: 10px;
    margin: 0;
    color: var(--azul-escuto);
    outline: none;
}

.btn-edit-done{
    background-color: var(--verde);
    color: var(--branco);
    cursor: pointer;
    padding: 26px 10px;
    align-items: center;
    display: flex;
}

.btn-edit-cancel{
    background-color: var(--vermelho);
    color: var(--branco);
    cursor: pointer;
    padding: 26px 10px;
    align-items: center;
    display: flex;
}

.btn-edit-done:active, .btn-edit-cancel:active {
    opacity: 0.9;
}